<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" rel="stylesheet" 
            integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous">
        <title>{% block title %}Blog Posts Website{% endblock %}</title>
    </head>

    <header>
        {% block header %}
        <h1><a href="{% url 'home' %}">Blog Posts</a></h1>
        <hr>
        {% endblock %}
    </header>

    <body>
        <main>
            {% block content %}
            {% endblock %}
        </main>
</html>