<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>{% block title %}Blog Posts Website{% endblock %}</title>
        <style>
            .btn-primary {
                background-color: #ff6a00;
                border-color: #672204;
                width: 150px;
            }


            .btn-group button {
                margin: 3px;
            }
        </style>
    </head>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">Blog Posts</a>
            </div>
        </nav>

    </header>
    <div class="container">
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</html>