{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Hello, {{ user.username }}!</h1>
        <form action=" {% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <h1>Hello, World!</h1>
        <button><a href="{% url 'login' %}">Login</a></button>
        <button><a href="{% url 'signup' %}">Signup</a></button>
    {% endif %}
    <button><a href="{% url 'post:create' %}">Create Post</a></button>


    <h2>Posts</h2>
    {% for post in posts %}
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
    {% endfor %}
{% endblock %}